extends layout

block content
  header
    .row
      .twelve.columns
        h1
          Main Header
        h2.subheader
          i.foundicon-idea.left
          | Sub Header

  .row
    .six.columns
      Bacon ipsum dolor sit amet filet mignon shankle ball tip hamburger leberkas drumstick. Boudin pastrami ground round beef ribs andouille shankle kielbasa meatball pork chop tail strip steak frankfurter. Sausage chicken pastrami meatloaf hamburger flank, brisket frankfurter pork belly shank ham beef. Pork tail ball tip short ribs pancetta biltong.
    .six.columns
      Pastrami salami kielbasa ham, shankle biltong pancetta. Brisket ham beef ribs pork loin jowl flank. Beef ground round sirloin short loin. T-bone shankle pork loin corned beef. Tri-tip chicken ground round bresaola biltong t-bone short loin shank. Meatball chicken biltong sausage, pork loin shank turkey tail salami brisket bacon ham tri-tip ham hock chuck.
