// Icons in navigation should have margin
nav
  i
    margin-right: 10px

// Loading GIF used for AJAX requests
#loading
  display: none
  padding: 6px 15px 0
  height: 45px

  &:hover
    background: inherit
